# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languagues that Data Scientists use
- List popular libraries used by Data Scientists
- Exemplify how to create a table
- Exemplify how comments works in cells
- Exemplify how arithmethic operations works in R.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib

|Data Science|
|------------|
|Rstudio|
|ApacheSpark|
|TensowFlow|

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
TENE IONUT VALENTIN